@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700);

/*

Orange #f96a1b
Blue   #44AFD1
Green  #BCDE15

*/

body {
    padding: 0;
}

.container-fluid {
    padding: 0;
    background-color: #eee;
}

.hero-unit {
    background-image: url('img/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

#big-quote {
    text-align: center;
    padding-bottom:20px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 3px 0px #000;
    line-height: 150%;
}

#main-logo {
    display: inline;
    padding: 30px 100px;
}

#register-button {
    text-align: center;
}

#email-field {
    display: none;
    margin: 20px 10px;
}

#email-submit {
    margin: 20px 10px;
}

#label-hider {

}

#faq {
    list-style-type: none;
}

/* The first child is the "question" on each F.A.Q. item */
#faq li p:first-child {
    color: #44AFD1;
    font-weight: bold;
    margin-bottom: -2px;
}

#footer {
    background-color: #000;
    color: #eee;
}

.btn-large {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 20px 50px;
    font-size: 26px;
}

